In [2]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series_data = pd.Series(data)

print(series_data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series_from_list = pd.Series(my_list)

print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
#Q3. Create a Pandas DataFrame that contains the following data:


data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [5]:
#Q 4-------------------------------
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [6]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
# Common DataFrame Manipulation Functions:

# head(): Returns the first n rows

In [8]:

df.head(2)  # Returns the first 2 rows of the DataFrame.

    Name  Age           City
0  Alice   25       New York
1    Bob   30  San Francisco

In [9]:
df.groupby('City')['Age'].mean()  # Calculates the average age per city.

City
Los Angeles      35.0
New York         25.0
San Francisco    30.0
Name: Age, dtype: float64

In [10]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'City': ['NY', 'SF', 'LA']})
merged_df = pd.merge(df1, df2, on='ID')

In [11]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
# Mutability:

# Series and DataFrame are mutable.
# Panel, on the other hand, is deprecated in recent versions of Pandas.

In [12]:
#Q7. Create a DataFrame using multiple Series. Explain with an example
import pandas as pd

# Creating Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
cities = pd.Series(['New York', 'San Francisco', 'Los Angeles'])

# Creating DataFrame using the Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})

print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles